<header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
      <% if (typeof loggedin !== "undefined" && loggedin) { %>
        <a href="/account/" title="Go to Account Management" class="basic">Welcome Basic</a>
        <a href="/account/logout" title="Log out" class="logout">Logout</a>
      <% } else { %>
        <a href="/account/login" title="Click to log in" class="logout">My Account</a>
      <% } %>
    </div>
</header>