/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
}

.bodyImage {
  position: absolute;
  margin-top: -20px;
  width: 100%;
  height: 103%;
  z-index: -1;
  object-fit: cover;
}

#homePage {
  margin: 0 15%;
  position: relative;
  z-index: 1;
  background-color: white;
  width: 70%;
  border: 5px solid rgb(61, 208, 253);
  border-radius: 15px;
  padding: 20px;
}

#top-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.siteName a {
  grid-column: 1 / 2;
  font-size: 30px;
}

#tools a {
  float: right;
  font-size: 17px;
}

#tools a, .siteName a { 
  text-decoration: none;
  color: black;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: normal;
  background-color: black;
  padding: 1vw;
  margin: 2.5% 0;
}

nav li {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  background-color: white;
  width: 90%;
}

nav li a {
  text-decoration: none;
  color: black;
}

h1 {
  position: relative;
  z-index: 1;
  font-size: 30px;
}

.banner {
  height: 300px;
}

.bannerImage {
  position: relative;
  z-index: -1;
  display: flex;
  margin: 0 auto;
}

.bannerInfo {
  position: relative;
  z-index: 1;
  width: 180px;
  color: rgb(7, 99, 204);
  height: 150px;
  margin: -200px 0 100px 7%;
  background-color: rgba(255, 255, 255, 0.548);
}

.bannerInfo p {
  margin-top: -15px;
  font-size: 18px;
}

.bannerInfo img {
  display: flex;
  width: 70%;
  height: 40px;
  margin: 0 auto ;
}

#delorean {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
  text-align: center;
}

#upgrades h3 {
  grid-column: 1 / 3;
  text-align: left;
}

#upgrades p {
  margin-top: -3px;
}

#upgrades img {
  background-color: rgb(7, 99, 204);
  padding: 20%;
  width: 80%;
  height: 120px;
  margin: 0;
}

#reviews li {
  margin: 6% 0;
  width: 80%;
}

#inv-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}

#inv-display li {
  border: solid 2px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  width: 90%;
  height: 350px;
  list-style: none;
}

#inv-display img {
  display: flex;
  margin: auto;
  width: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  height: 200px;
}

#inv-display hr {
  border: solid 3px black;
}

.namePrice a {
  display: inline-block;
  font-size: 20px;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.namePrice span {
  display: block;
  font-size: 20px;
  text-align: center;
  color: black;
}

#details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

#details img {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
  margin: 0 auto;
  width: 100%;
}

#details h3 {
  font-size: 30px;
}

#details p {
  grid-column: 2 / 3;
  padding: 10px;
  font-size: 25px;
}

#details span {
  font-weight: bold;
}

.price {
  font-weight: bold;
}

.backColor {
  display: flex;
  background-color: rgba(189, 185, 185, 0.356);
  align-items: center;
}

@media (min-width: 1440) {
  #reviews li {
    font-size: 18px;
  }
}

@media (max-width: 1030px) {
  #details h3 {
    font-size: 25px;
  }
  
  #details p {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  #details h3 {
    font-size: 20px;
  }
  
  #details p {
    font-size: 15px;
  }

  #inv-display {
    grid-template-columns: repeat(2, 1fr);
  }

  #details {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  
  #details img {
    grid-row: 1 / 2;
    margin: 0 auto;
    width: 100%;
  }
  
  #details p {
    grid-column: 1 / 2;
  }
}

@media (max-width: 425px) {
  #inv-display {
    display: grid;
    grid-template-columns: 1fr;
  }

  #details h3 {
    font-size: 18px;
  }
  
  #upgrades {
    grid-template-columns: 1fr;
    width: 230px;
  }

  #upgrades h3 {
    grid-column: 1 / 2;
  }

  #upgrades img {
    padding: 20px;
    width: 50%;
    height: 100px;
  }

  #inv-display img {
    width: 100%;
    height: 100px;
  }

  #inv-display li {
    height: 250px;
  }

  .namePrice a {
    font-size: 17px;
  }
  
  .namePrice span {
    font-size: 15px;
  }

  .siteName a {
    font-size: 20px;
  }

  #tools a {
    font-size: 10px;
  }

  nav li {
    font-size: small;
    margin: 0;
  }

  h1 {
    font-size: 12px;
  }

  .banner {
    height: 130px;
  }

  .bannerImage {
    margin: 0 0 0 20%;
  }

  .bannerInfo {
    width: 90px;
    color: rgb(7, 99, 204);
    height: 90px;
    margin: -45%  0 0 1%;
    background-color: rgba(255, 255, 255, 0.548);
    font-size: small;
  }

  .bannerInfo p {
    margin-top: -15px;
    font-size: small;
  }
  
  .bannerInfo img {
    width: 90%;
    height: 20px;
    margin: -10% 0;
  }

  #delorean {
    display: grid;
    grid-template-columns: 1fr;
  }

  #reviewsGrid {
    grid-row: 1 / 2;
  }

  #reviews li {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  #inv-display li {
    width: 130%;
    margin-left: -40px;
  }

  #upgrades {
    width: 180px;
  }

  .siteName a {
    font-size: 15px;
  }

  nav ul {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5px;
  }

  nav li {
    font-size: 10px;
  }

  .bannerImage {
    width: 80%;
  }

  #delorean h3 {
    font-size: 15px;
  }

  #reviews li {
    font-size: 12px;
  }
}