<main>
    <h1><%= title %></h1>
    <%# messages() %>
  
    <!-- Access to add a new classification or inventory item -->
    <a href="/inv/add-classification">Add New Classification</a><br>
    <a href="/inv/add-inventory">Add New Inventory Item</a>
</main>